<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      .col-md-3{
        display: inline-block;
        margin: left;
      }
      .col-md-3 img{
        width: 155px;
        height: 220px;
      }
      body .carousal-indicators li{
        background-color: blue;
      }
      body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
    </style>
  </head>
  <body>
  {% load static %}
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="subscribe.html">Subscribe</a>
      </div>
      <div class="col-4 text-center ">
        <h2><a class="blog-header-logo text-dark" href="index.html"><strong>Fortnroid</strong></a></h2>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="sign.html">Sign In</a>
      </div>
    </div>
    <hr>
    <div class="nav-scroller py-0 mb-1">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">Home</a>
      <a class="p-2 text-muted" href="blog.html">Blogs</a>
      <a class="p-2 text-muted" href="markets.html">Markets</a>
      <a class="p-2 text-muted" href="technology.html">Technology</a>
      <a class="p-2 text-muted" href="about us.html">About Us</a>
      <a class="p-2 text-muted" href="#">Reach Us</a>

    </nav>
  </div>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Congratulations!</strong> You made it to Fortnroid.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <div class="container">
<div id="demo" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-target="#demo" data-slide-to="{{i}}" ></li>
      {% endfor %}


    </ul>

    <!--Slideshow starts here -->
<div class="container carousel-inner no-padding">
    <h1>Rent any Entertainment account here!</h1>
    <hr>
      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{rent.0.image}}' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{rent.0.rent_person}}</h5>
                <p class="card-text">{{rent.0.desc}}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
       </div>

        {% for i in rent|slice:"1:"%}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.rent_person}}</h5>
              <p class="card-text">{{i.desc}}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">

        {% endif %}

        {% endfor %}
    </div>
</div>
</div>




    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>